.copy {
    height: 30px;
    background-color: rgb(20, 20, 20);
    &_txt {
      font-size: 0.4rem;
      color: #d1d1d1;
      @media (min-width: 772px) {
        font-size: 0.8rem;
      }
    }
  }

  .logo_footer {
    padding: 20px;
    background-color: rgba($color:#ffffff, $alpha: 0.2);
    border-radius: 10px;
  }

  .direccion_footer {
    height: 30px;
    width: auto;
  }