* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .linea-sep{
    &-azul{
      height: 3px;
      background-color: #1263ad;
    }
    &-negra{
      height: 3px;
      background-color: #373535;
    }
  }
  
  .fixedWapp {
    @media (max-width: 572px){
      right: 20px;
      bottom: 20px;
    }
    @media (min-width: 573px) and (max-width: 992px){
      right: 40px;
      bottom: 40px;
    }
    @media (min-width: 993px) and (max-width: 1306px){
      right: 50px;
      bottom: 50px;
    }
    @media (min-width: 1307px){
      right: 50px;
      bottom: 50px;
    }
    position: fixed;
    bottom: 50px;
    z-index: 1;
    &_img {
      width: 50px;
    }
  }
  
  
  